<beans:beans xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
		
<mvc:annotation-driven/>
 
<mvc:default-servlet-handler />
 
<beans:bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<beans:property name="prefix" value="/WEB-INF/views/" />
		<beans:property name="suffix" value=".jsp" />
</beans:bean>
 
<context:component-scan base-package="elearningmvc.spring"/>
 
<beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<beans:property name="url"
			value="jdbc:mysql://localhost:3306/elearning" />
		<beans:property name="username" value="root" />
		<beans:property name="password" value="" />
	</beans:bean>
	
<beans:bean id="hibernate5AnnotatedSessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="annotatedClasses">
			<beans:list>
				<beans:value>elearningmvc.spring.springhibernate.model.Categoriemodule</beans:value>
				<beans:value>elearningmvc.spring.springhibernate.model.Chapitre_formatchapitre</beans:value>
				<beans:value>elearningmvc.spring.springhibernate.model.Chapitreappris</beans:value>
				<beans:value>elearningmvc.spring.springhibernate.model.Chapitre</beans:value>
				<beans:value>elearningmvc.spring.springhibernate.model.Formatchapitre</beans:value>
				<beans:value>elearningmvc.spring.springhibernate.model.Invitation</beans:value>
				<beans:value>elearningmvc.spring.springhibernate.model.Localite</beans:value>
				<beans:value>elearningmvc.spring.springhibernate.model.Module</beans:value>
				<beans:value>elearningmvc.spring.springhibernate.model.Role</beans:value>
				<beans:value>elearningmvc.spring.springhibernate.model.Utilisateur</beans:value>
			</beans:list>
		</beans:property>
		<beans:property name="hibernateProperties">
			<beans:props>
				<beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
				</beans:prop>
				<beans:prop key="hibernate.show_sql">true</beans:prop>
				<beans:prop key="hibernate.hbm2ddl.auto">update</beans:prop>
				<beans:prop key="hibernate.current_session_context_class">thread</beans:prop>
			</beans:props>
		</beans:property>
	</beans:bean>	
 
<beans:bean id="categoriemoduleDao" class="elearningmvc.spring.springhibernate.dao.CategoriemoduleDaoImpl">
	<beans:property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
</beans:bean>
 
<beans:bean id="categoriemoduleService" class="elearningmvc.spring.springhibernate.service.CategoriemoduleServiceImpl">
	<beans:property name="categoriemoduleDao" ref="categoriemoduleDao"/>
</beans:bean>

<beans:bean id="chapitre_formatchapitreDao" class="elearningmvc.spring.springhibernate.dao.Chapitre_formatchapitreDaoImpl">
	<beans:property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
</beans:bean>
 
<beans:bean id="chapitre_formatchapitreService" class="elearningmvc.spring.springhibernate.service.Chapitre_formatchapitreServiceImpl">
	<beans:property name="chapitre_formatchapitreDao" ref="chapitre_formatchapitreDao"/>
</beans:bean>

<beans:bean id="chapitreapprisDao" class="elearningmvc.spring.springhibernate.dao.ChapitreapprisDaoImpl">
	<beans:property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
</beans:bean>
 
<beans:bean id="chapitreapprisService" class="elearningmvc.spring.springhibernate.service.ChapitreapprisServiceImpl">
	<beans:property name="chapitreapprisDao" ref="chapitreapprisDao"/>
</beans:bean>

<beans:bean id="chapitreDao" class="elearningmvc.spring.springhibernate.dao.ChapitreDaoImpl">
	<beans:property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
</beans:bean>
 
<beans:bean id="chapitreService" class="elearningmvc.spring.springhibernate.service.ChapitreServiceImpl">
	<beans:property name="chapitreDao" ref="chapitreDao"/>
</beans:bean>

<beans:bean id="formatchapitreDao" class="elearningmvc.spring.springhibernate.dao.FormatchapitreDaoImpl">
	<beans:property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
</beans:bean>
 
<beans:bean id="formatchapitreService" class="elearningmvc.spring.springhibernate.service.FormatchapitreServiceImpl">
	<beans:property name="formatchapitreDao" ref="formatchapitreDao"/>
</beans:bean>

<beans:bean id="invitationDao" class="elearningmvc.spring.springhibernate.dao.InvitationDaoImpl">
	<beans:property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
</beans:bean>
 
<beans:bean id="invitationService" class="elearningmvc.spring.springhibernate.service.InvitationServiceImpl">
	<beans:property name="invitationDao" ref="invitationDao"/>
</beans:bean>

<beans:bean id="localiteDao" class="elearningmvc.spring.springhibernate.dao.LocaliteDaoImpl">
	<beans:property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
</beans:bean>
 
<beans:bean id="localiteService" class="elearningmvc.spring.springhibernate.service.LocaliteServiceImpl">
	<beans:property name="localiteDao" ref="localiteDao"/>
</beans:bean>

<beans:bean id="moduleDao" class="elearningmvc.spring.springhibernate.dao.ModuleDaoImpl">
	<beans:property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
</beans:bean>
 
<beans:bean id="moduleService" class="elearningmvc.spring.springhibernate.service.ModuleServiceImpl">
	<beans:property name="moduleDao" ref="moduleDao"/>
</beans:bean>

<beans:bean id="roleDao" class="elearningmvc.spring.springhibernate.dao.RoleDaoImpl">
	<beans:property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
</beans:bean>
 
<beans:bean id="roleService" class="elearningmvc.spring.springhibernate.service.RoleServiceImpl">
	<beans:property name="roleDao" ref="roleDao"/>
</beans:bean>

<beans:bean id="utilisateurDao" class="elearningmvc.spring.springhibernate.dao.UtilisateurDaoImpl">
	<beans:property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
</beans:bean>
 
<beans:bean id="utilisateurService" class="elearningmvc.spring.springhibernate.service.UtilisateurServiceImpl">
	<beans:property name="utilisateurDao" ref="utilisateurDao"/>
</beans:bean>

<tx:annotation-driven transaction-manager="transactionManager"/>
 
<beans:bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
<beans:property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory" />
</beans:bean>
 
 
 
</beans:beans>