/* Partie Header */
#header {
  width: 100%;
  background-color: #b8bab9;
  padding: 2px;
  text-align: center;
  font-size:20px;
  color: black;
}


/*body*/

body {
	background-color:#77bbff;
}

/*footer*/

#footer 
{
  background-color: #b8bab9;
  padding: 10px;
  text-align: center;
  color: black;
}

.table{
	width:100%;
	margin-left: 20px;
	margin-bottom: 20px;
	text-align:center;	
	border:0px;
}